/* Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Odibee+Sans&display=swap');

/* Change default margin, padding and border to 0 and none */
* {
  margin: 0;
  padding: 0;
  border: none;
}

/* Style body and headers */
body {
  font-family: Nunito, sans-serif;
  font-weight: 500;
  color: #151311;
  background-color: #789053;
}

h1, h2 {
  font-family: "Odibee Sans", cursive;
  font-size: 3em;
  letter-spacing: 1px;
}

/* Style logo */
#logo {
  font-size: 4em;
  text-align: center;
  margin: 20px;
}

/* Style navigation bar */
nav {
  font-family: "Odibee Sans", cursive;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.5em;
}

nav li {
  display: inline;
  margin: auto 10px;
}

nav a {
  text-decoration: none;
  padding: 5px;
  background-color: #ffffff;
  color: #151311;
  border: 4px solid #151311;
  border-radius: 10px;
}

nav a:hover {
  color: #ffffff;
  background-color: #151311;
}

/* Style carousel */
.carousel {
  width: 95vw;
  margin: auto 2.5%;
  overflow: hidden;
}

/* Style the sections slides */
.section-slides {
  margin-top: 20px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.section-slides > section, .section-slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 95vw;
  height: 70vh;
  margin-right: 20px;
  border-radius: 10px;
  background: #ffffff;
}

.section-slides::-webkit-scrollbar {
  height: 0;
}

/* Style footer */
footer {
  text-align: center;
  margin-top: 20px;
}

footer li {
  display: inline;
  padding-right: 20px;
  font-size: 1.5em;
}

footer a {
  text-decoration: none;
  color: #151311;
}

footer p {
  margin-top: 10px;
  font-size: 0.8em;
}

/* Style home section and its content */
#home-section > button {
  font-family: "Odibee Sans", cursive;
  letter-spacing: 1px;
  font-size: 2em;
  background-color: #789053;
  display: block;
  margin: 25px auto;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
}

#main-image {
  width: 100%;
  height: fit-content;
}

#main-image img {
  width: 100%;
  height: fit content;
  border-radius: 10px;
}